#datum-id {
    width: 440px;
    height: 25px;
    background-color: #dde;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    font-size: .95em;
    padding: 5px 5px 0px 5px;
    visibility: hidden;
    position: absolute;
    margin: 0px;
    left: 350px;
    top: 5px;}

#result-id {
    width: 450px;
    height: 25px;
    padding: 5px;
    visibility: hidden;
    position: absolute;
    margin: 0px;
    left: 350px;
    top: 480px;}

#map-id {
    display: block;
    width: 450px;
    height: 445px;
    position: absolute;
    margin: 0px;
    left: 350px;
    top: 35px;}

#star-id {
    display: block;
    width: 425px;
    height: 445px;
    position: absolute;
    margin: 0px;
    left: 350px;
    top: 35px;
    z-index: 1;}

#horizon {
    display: block;
    position: absolute;
    top: 100px;
    left: 435px;
    width: 300px;
    height: 300px;
    z-index: 2;}

#direction {
    width: 30px;
    height: 30px;
    position: relative;
    margin: 0px;
    left: 135px;
    top: 135px;
    z-index: 3;}

#logo {
    width: 189px;
    height: 63px;
    padding: 0px;
    position: absolute;
    margin: 0px;
    left: 805px;
    top: 0px;}

#dashboard {
    display: "block";
    height: 470px;
    padding: 5px;
    position: absolute;
    margin: 0px;
    left: 805px;
    top: 65px;}

#graph-id {
    width: 335px;
    height: 500px;
    padding: 5px;
    position: absolute;
    margin: 0px;
    left: 0px;
    top: 0px;}

#choice {
    width: 335px;
    margin-bottom: 5px;}

#tracelegend {
    width: 335px;
    visibility: hidden;}

#choice td {
    cursor: pointer;
    text-align: center;
    border-radius: 2px;}

#tracelegend td {
    text-align: center;
    border-radius: 2px;}

body {
    position: relative;
    color: #333;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: #fff;}

img {
    border: 0px;}

input {
    font-family: Arial, Sans-Serif;
    font-size: 11px;
    text-align: right;}

input[disabled='disabled'] {
    background-color: #fff;
    color: #222;
    -webkit-text-fill-color: #222;}

input[type="button"] {
    font-family: "Trebuchet MS", Arial;
    font-size: 1em;
    cursor: pointer;}

.coincidencegraph {
    height: 225px;
    width: 325px;}

.tracegraph {
    display: none;
    height: 225px;
    width: 325px;}

#datum {
    margin-right: 30px;
}

#datum, #gmst {
    font-family: Arial, Sans-Serif;
}

table {
    border: 0px;}

#mapFunction {
    float: right;}

.tracegraph, .coincidencegraph, #star-id, .jqplot-yaxis-label {
    color: #111;}

.olControlAttribution {
    position: absolute;
    font-size: 10px;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    font-family: Arial;
    padding: 2px 4px;
    border-radius: 5px 0 0 0;}

.olControlScaleLine {
    position: absolute;
    bottom: 0px;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    font-family: Arial;
    padding: 2px 4px;
    border-radius: 0 5px 0 0;}

.det1 {
    background: #222;
    color: #ddf;}

.det2 {
    background: #D22;
    color: #ddf;}

.det3 {
    background: #1C2;}

.det4 {
    background: #1CC;}

#choice0 {
    background: #600;
    visibility: hidden;
    color: #ddf;}

#choice1 {
    background: #f00;
    display: none;
    color: #ddf;}

#choice2 {
    background: #f90;
    display: none;}

#choice3 {
    background: #ff0;
    display: none;}

#choice4 {
    background: #6f0;
    display: none;}

#choice5 {
    background: #6ff;
    display: none;}

#choice6 {
    background: #f0f;
    display: none;}

#choice7 {
    background: #ccc;
    display: none;}

#detectorMap {
    display: block;
    width: 450px;
    height: 445px;
    position: absolute;
    margin: 0px;
    left: 350px;
    top: 35px;
    background-color : #f0f0f0}

#gps {
    width: 6px;
    height: 6px;
    position: absolute;
    margin: 0px;
    left: 222px;
    top: 222px;}


#detector00 {
    width: 52px;
    height: 52px;
    position: absolute;
    margin: 0px;
    left: 150px;
    top: 60px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);}

#detector01 {
    width: 52px;
    height: 52px;
    position: absolute;
    margin: 0px;
    left: 150px;
    top: 125px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);}

#detector02 {
    width: 52px;
    height: 52px;
    position: absolute;
    margin: 0px;
    left: 100px;
    top: 150px;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);}

#detector03 {
    width: 52px;
    height: 52px;
    position: absolute;
    margin: 0px;
    left: 200px;
    top: 150px;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);}

#detector10 {
    width: 52px;
    height: 52px;
    position: absolute;
    margin: 0px;
    left: 150px;
    top: 60px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);}

#detector11 {
    width: 52px;
    height: 52px;
    position: absolute;
    margin: 0px;
    left: 150px;
    top: 125px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);}

#detector12 {
    width: 52px;
    height: 52px;
    position: absolute;
    margin: 0px;
    left: 100px;
    top: 150px;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);}

#detector13 {
    width: 52px;
    height: 52px;
    position: absolute;
    margin: 0px;
    left: 200px;
    top: 150px;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);}

#detector20 {
    width: 52px;
    height: 52px;
    position: absolute;
    margin: 0px;
    left: 150px;
    top: 60px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);}

#detector21 {
    width: 52px;
    height: 52px;
    position: absolute;
    margin: 0px;
    left: 150px;
    top: 125px;
    transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);}

#detector22 {
    width: 52px;
    height: 52px;
    position: absolute;
    margin: 0px;
    left: 100px;
    top: 150px;
    transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);}

#detector23 {
    width: 52px;
    height: 52px;
    position: absolute;
    margin: 0px;
    left: 200px;
    top: 150px;
    transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);}
