#datum-id {
    width: 450px;
    height: 25px;
    padding: 5px;
    position:absolute;
    margin: 0px;
    left: 350px;
    top: 5px;}

#result-id {
    width: 450px;
    height: 25px;
    padding: 5px;
    position: absolute;
    margin: 0px;
    left: 350px;
    top: 470px;}

#map-id {
    width: 450px;
    height: 430px;
    position: absolute;
    margin: 0px;
    left: 350px;
    top: 40px;}

#logo {
    width: 189px;
    height: 63px;
    padding: 0px;
    position: absolute;
    margin: 0px;
    left: 800px;
    top: 0px;}

#dashboard {
    width: 400px;
    height: 470px;
    padding: 5px;
    position: absolute;
    margin: 0px;
    left: 800px;
    top: 65px;}

#graph-id {
    width: 335px;
    height: 500px;
    padding: 5px;
    position: absolute;
    margin: 0px;
    left: 5px;
    top: 5px;}

#choice {
    width: 335px;}

#tracelegend {
    width: 335px;}

#choice td {
    cursor: pointer;
    text-align: center;
    border-radius: 2px;}

#tracelegend td {
    text-align: center;
    border-radius: 2px;}

body {
    position: relative;
    color: #333;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: #aaf;}

input {
    text-align: right;}

input[disabled='disabled'] {
    background-color: #ffffff;
    color: #333;
    -webkit-text-fill-color: #333;}

input[type="button"] {
    font-family: "Trebuchet MS",Arial;
    font-size: 1em;
    cursor: pointer;}

.coincidencegraph {
    height: 225px;
    width: 325px;}

.tracegraph {
    display: none;
    height: 225px;
    width: 325px;}

table {
    border: 0px;}

.tracegraph, .coincidencegraph, .jqplot-yaxis-label {
    color: #333;}

.olControlAttribution {
    position: absolute;
    font-size: 10px;
    bottom: 0;
    right: 0;
    background: rgba(255,255,255,0.7);
    font-family: Arial;
    padding: 2px 4px;
    border-radius: 5px 0 0 0;}

.olControlScaleLine {
    position: absolute;
    bottom: 0px;
    left: 0;
    background: rgba(255,255,255,0.7);
    font-family: Arial;
    padding: 2px 4px;
    border-radius: 0 5px 0 0;}

#choice0 {
    background: #600;
    visibility: hidden;
    color:#ddf;}

#choice1 {background: #f00;
    display: none;
    color:#ddf;}

#choice2 {
    background: #f90;
    display: none;}

#choice3 {
    background: #ff0;
    display: none;}

#choice4 {
    background: #6f0;
    display: none;}

#choice5 {
    background: #6ff;
    display: none;}

#choice6 {
    background: #f0f;
    display: none;}

#choice7 {
    background: #ccc;
    display: none;}
