#container {
    margin: 0px 5px;
    width: 850px;}

ul {
    list-style: none;}

th,
td {
    white-space: nowrap;}

th {
    padding-right: 10px;}

td {
    font-family: monospace;}

.key {
    font-weight: bold;}

#download_data,
#load_data {
    width: 50%;
    float: left;}

#file_choice {
    width: 100%;}

#dataset_list table {
    width: 100%;}

#dataset_list td,
#set1_variables td:not(:nth-child(n+3)),
#set2_variables td:not(:nth-child(n+3)) {
    text-align: center;}

#dataset_list tr,
#set1_variables tr,
#set2_variables tr {
    margin: 1px 0;
    padding: 5px;}

#dataset_list .preview,
#dataset_list .download,
#dataset_list .delete {
    margin-right: 10px;
    font-weight: bold;
    text-align: center;}

#dataset_list .preview,
#dataset_list .download,
#dataset_list .delete,
#results .trace,
#graph .save_image {
    cursor: pointer;
    color: #25B !important;
    text-decoration: none;
    font-weight: bold;}

#dataset_list table,
#preview table {
    border-collapse: collapse;}

tr.selectedRow {
    background-color: #ddd;}

.units:before {
    content: '[';}

.units:after {
    content: ']';}

.right {float: right;}
.left {float: left;}
.clear {clear: both;}

.save_image{
    border-radius: 3px;
    font-size: 11px;
    position: relative;
    right: 15px;}

#graph {}

#plot { 
    margin: 25px;
    clear: both;
    width: 800px;
    height: 400px;}

#graph,
#plot,
#select_dataset,
#select_variables,
#controls,
#results {
    display: none;}

#set1_variables,
#set2_variables {
    width: 40%;}

#controls {
    width: 20%;
    font-size: 14px;}

#results {
    text-align: center;}

#preview {
    overflow: visible;}

#results td {
    font-size: 12px;
    padding: 2px 5px;
    text-align: right;}

input:disabled {
    color: #ddd;}

/* Color columns in table that belong to specific detectors
*/
#results .weather td:nth-child(5),
#results .weather td:nth-child(7) {color: #222; padding-left: 15px;}
#results .weather td:nth-child(6),
#results .weather td:nth-child(8) {color: #D22; padding-left: 15px;}

#results .events td:nth-child(4n+6) {color: #222; padding-left: 15px;}
#results .events td:nth-child(4n+7) {color: #D22;}
#results .events td:nth-child(4n+8) {color: #1C2;}
#results .events td:nth-child(4n+9) {color: #1AA;}
#results .events td:nth-child(4n+6) {color: #222;}
#results .events td:nth-child(23),
#results .events td:nth-child(24) {
    color: #222;}

#results .station_layout td:nth-child(4n+3) {color: #222; padding-left: 15px;}
#results .station_layout td:nth-child(4n+4) {color: #D22;}
#results .station_layout td:nth-child(4n+5) {color: #1C2;}
#results .station_layout td:nth-child(4n+6) {color: #1AA;}

#results .pulseheight td:nth-child(3),
#results .pulseintegral td:nth-child(3),
#results .voltage td:nth-child(3),
#results .current td:nth-child(3),
#results .trigger td:nth-child(3),
#results .trigger td:nth-child(7),
#results .detector_timing_offsets td:nth-child(3) {color: #222; padding-left: 15px;}

#results .pulseheight td:nth-child(4),
#results .pulseintegral td:nth-child(4),
#results .voltage td:nth-child(4),
#results .current td:nth-child(4),
#results .trigger td:nth-child(4),
#results .trigger td:nth-child(8),
#results .detector_timing_offsets td:nth-child(4) {color: #D22;}

#results .pulseheight td:nth-child(5),
#results .pulseintegral td:nth-child(5),
#results .voltage td:nth-child(5),
#results .current td:nth-child(5),
#results .trigger td:nth-child(5),
#results .trigger td:nth-child(9),
#results .detector_timing_offsets td:nth-child(5) {color: #1C2;}

#results .pulseheight td:nth-child(6),
#results .pulseintegral td:nth-child(6),
#results .voltage td:nth-child(6),
#results .current td:nth-child(6),
#results .trigger td:nth-child(6),
#results .trigger td:nth-child(10),
#results .detector_timing_offsets td:nth-child(6) {color: #1AA;}

/* Line number column
*/
#results td:first-child {
    font-size: 9px;
    color: #999;}


.ui-widget {
    font-family: sans-serif;
    font-size: 0.8em;}

/* Flot styling
Only used for 'css' mode, we now use canvas mode
*/
.yaxisLabel {
    -moz-transform: none !important;
    -webkit-transform: none !important;
    -o-transform: none !important;
    -ms-transform: none !important;}

/* Formula styling
*/
#results .formula {
    margin-right: 40px;}

#results .correlation {
    color: gray;}

/* Detector colors
*/
.ch1 {color: #222;}
.ch2 {color: #C11;}
.ch3 {color: #1C1;}
.ch4 {color: #1CC;}

.ch5 {color: #C1C;}
.ch6 {color: #15C;}
.ch7 {color: #AA1;}
.ch8 {color: #C51;}
