body {
    font-family: sans-serif;}

#loading {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;}

ul {
    list-style: none;}

td {
    font-family: monospace;}

#dataset_list table {
    width: 600px;
    border-collapse: collapse;}

#dataset_list td,
#set1_variables td:not(:nth-child(n+3)),
#set2_variables td:not(:nth-child(n+3)) {
    text-align: center;}

#dataset_list tr,
#set1_variables tr,
#set2_variables tr {
    margin: 1px 0;
    padding: 5px;}

#dataset_list td.delete {
    margin-right: 10px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;}

.variable {
    text-transform: capitalize;}

.units:before {
    content: '[';}

.units:after {
    content: ']';}

#plot {
    width: 800px;
    height: 300px;
    display: none;}

#select_dataset,
#select_variables,
#controls,
#results {
    display: none;}

#results th,
#results td {
    white-space: nowrap;}

#results td {
    font-size: 12px;
    padding-right: 6px;
    text-align: right;}

/* Color pulseheight columns in table
*/
#results .events td:nth-child(4n+6) {color: #222; padding-left: 15px;}
#results .events td:nth-child(4n+7) {color: #D22;}
#results .events td:nth-child(4n+8) {color: #1C2;}
#results .events td:nth-child(4n+9) {color: #1aa;}

/* Line number column
*/
#results td:first-child {
    font-size: 9px;
    color: #999;}


.ui-widget {
    font-family: sans-serif;
    font-size: 0.8em;}
