html {
    font-family: sans-serif;}

#container {
    margin: auto;
    width: 850px;}

#header {
    height: 75px;
    width: 100%;}

#pageHeader {
    height: 63px;
    width: 180px;
    margin: 0;
    padding: 0;
    float: right;
    display: inline-block;}

#pageHeader {
    background: url(../images/HiSPARC_animated_traces.png) top right no-repeat;
    background-size: 180px 63px;}

@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    #pageHeader {
        background: url(../images/HiSPARC_animated_traces@2x.png) top right no-repeat;
        background-size: 180px 63px;}
}

#pageHeader span {
    display: none;}

.clearer {
    clear: both;}

#content {
    margin: 0;
    padding: 0;
    float: left;
    width: 50%;}

#docs-content {
    margin: 0;
    padding: 0;
    float: left;
    width: 50%;}

h2 {
    margin-top: 25px;}

p {
    line-height: 1.8em;}

a {
    color: #0060B9;
    text-decoration: none;}

a:visited {
    color: #3C6891;
    text-decoration: none;}

a:hover {
    color: #002141;
    text-decoration: none;}
