#datum-id {
    width: 440px;
    height: 25px;
    background-color: #ddd;
    border-radius: 5px 5px 0px 0px;
    text-align: center;
    font-size: .95em;
    padding: 5px 5px 0px 5px;
    visibility: hidden;
    position: absolute;
    margin: 0px;
    left: 350px;
    top: 5px;}

#result-id {
    width: 450px;
    height: 25px;
    padding: 5px;
    visibility: hidden;
    position: absolute;
    margin: 0px;
    left: 350px;
    top: 490px;}

#map-id {
    width: 450px;
    height: 455px;
    position: absolute;
    margin: 0px;
    left: 350px;
    top: 35px;}

#logo {
    width: 180px;
    height: 63px;
    padding: 0px;
    position: absolute;
    margin: 0px;
    left: 805px;
    top: 0px;}

#pageHeader {
    display: block;
    width: 180px;
    height: 63px;
    background: url(../images/HiSPARC_animated_traces.png) top right no-repeat;
    background-size: 180px 63px;}

#pageHeader.animated {
    background: url(../images/HiSPARC_animated.gif) top right no-repeat;
    background-size: 180px 63px;}


#doc_link {
    width: 190px;
    height: 18px;
    padding: 0px;
    position: absolute;
    margin: 0px;
    left: 805px;
    top: 65px;}

#doc_link a {
    font-size: 75%;
    cursor: pointer;
    color: #25B !important;
    text-decoration: none;
    font-weight: bold;
    position: relative;
    margin-right: 15px;
    float: right;}

#dashboard {
    height: 470px;
    padding: 5px;
    position: absolute;
    margin: 0px;
    left: 805px;
    top: 80px;}

#graph-id {
    width: 335px;
    height: 500px;
    padding: 5px;
    position: absolute;
    margin: 0px;
    left: 0px;
    top: 0px;}

#choice {
    width: 335px;
    margin-bottom: 15px;}

#tracelegend {
    width: 335px;
    visibility: hidden;}

#choice td {
    cursor: pointer;
    text-align: center;
    border-radius: 2px;}

#tracelegend td {
    text-align: center;
    border-radius: 2px;}

body {
    position: relative;
    color: #000;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 1em;
    background: #fff;}

img {
    border: 0px;}

input {
    font-family: Arial, Sans-Serif;
    font-size: 11px;
    text-align: right;}

input[disabled='disabled'] {
    background-color: #fff;
    color: #111;
    -webkit-text-fill-color: #111;}

input[type="button"] {
    font-family: "Trebuchet MS", Arial;
    font-size: 1em;
    cursor: pointer;}

.coincidencegraph {
    height: 225px;
    width: 325px;}

.tracegraph {
    display: none;
    height: 225px;
    width: 325px;}

#datum {
    margin-right: 30px;}

#datum, #gmst {
    font-family: Arial, Sans-Serif;}

table {
    border: 0px;}

.tracegraph, .coincidencegraph, .jqplot-yaxis-label {
    color: #000;}

.olControlAttribution {
    position: absolute;
    font-size: 10px;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.7);
    font-family: Arial;
    padding: 2px 4px;
    border-radius: 5px 0 0 0;}

.olControlScaleLine {
    position: absolute;
    bottom: 0px;
    left: 0;
    background: rgba(255, 255, 255, 0.7);
    font-family: Arial;
    padding: 2px 4px;
    border-radius: 0 5px 0 0;}

.det1 {
    background: #222;
    color: #fff;}

.det2 {
    background: #D22;
    color: #fff;}

.det3 {
    background: #1C2;}

.det4 {
    background: #1CC;}

#choice0 {
    background: #600;
    visibility: hidden;
    color: #fff;}

#choice1 {
    background: #f00;
    display: none;
    color: #fff;}

#choice2 {
    background: #f90;
    display: none;}

#choice3 {
    background: #ff0;
    display: none;}

#choice4 {
    background: #6f0;
    display: none;}

#choice5 {
    background: #6ff;
    display: none;}

#choice6 {
    background: #f0f;
    display: none;}

#choice7 {
    background: #ccc;
    display: none;}
