html, body {
    margin: 0;
    width: 100%;
    height: 100%;}

#station_choice {
    text-align: center;}

#menu,
#header,
#map {
    display: table-row;}

#map, #olmap {
    height: 100%;}

#wrapper {
    display: table;
    height: 100%;
    width: 100%;}

#error {
    display: none;
    background: #c55;
    padding: 10px;}

#error p {
    text-align: center;
    color: white;
    margin: 0px;}

#station_choice_1 select,
#station_choice_2 select {
    width: 250px;}
