
body {
    font-family: sans-serif;}

#container {
    margin: 0px auto;
    width: 850px;}

#header {
    height: 65px;
    width: 100%;}

#pageHeader {
    float: right;
    position: relative;
    right: 10px;
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 180px;
    height: 63px;}

#pageHeader {
    background: url(../images/HiSPARC_animated_traces.png) top right no-repeat;
    background-size: 180px 63px;}

@media screen and (-webkit-min-device-pixel-ratio: 2.0), screen and (min--moz-device-pixel-ratio: 2.0), screen and (-o-min-device-pixel-ratio: 200/100), screen and (min-device-pixel-ratio: 2.0), screen and (min-resolution: 2.0dppx) {
    #pageHeader {
        background: url(../images/HiSPARC_animated_traces@2x.png) top right no-repeat;
        background-size: 180px 63px;}
}
